

/* Optional custom tweaks for prose */
.prose h1, .prose h2, .prose h3, .prose h4, .prose h5, .prose h6 {
  scroll-margin-top: 6rem;
  font-weight: 500;
  font-family: var(--font-geist-sans);
  color: var(--color-dark);
}
.prose h1 {
  font-size: 2rem;
}


